# **Sum of the Element present in array**

Example 1:
Input: N = 5, array[] = {1,2,3,4,5}
Output: 15
Explanation: Sum of all the elements is 1+2+3+4+5 = 15

Example 2:
Input:  N=6, array[] = {1,2,1,1,5,1}
Output: 11
Explanation: Sum of all the elements is 1+2+1+1+5+1 = 11

In [ ]:
sum=0
for i in range(len(arr)):
  sum+=arr[i]
  i+=1
print(sum)


arr=[1,2,3,4,5]

15

# **Count frequency of each element in an array**
Example 1:
Input: arr[] = {10,5,10,15,10,5};
Output: 10  3
	 5  2
        15  1
Explanation: 10 occurs 3 times in the array
	      5 occurs 2 times in the array
              15 occurs 1 time in the array

Example2:
Input: arr[] = {2,2,3,4,4,2};
Output: 2  3
	3  1
        4  2
Explanation: 2 occurs 3 times in the array
	     3 occurs 1 time in the array
             4 occurs 2 time in the array

In [ ]:
def freq(arr):
  dict={}
  for i in range(len(arr)):
    if arr[i] in dict:
      dict[arr[i]]+=1
      i+=1
    else:
      dict[arr[i]]=1
  return dict
n=7
arr=[1,2,1,2,3,3,3]
print(freq(arr))

{1: 2, 2: 2, 3: 3}

# **Rotate array by K elements – Block Swap Algorithm**
Example 1:<br>
Input: N = 5, array[] = {1,2,3,4,5} K=2<br>
Output: {3,4,5,1,2}<br>
Explanation: Rotate the array to right by 2 elements.

Example 2:<br>
Input: N = 7, array[] = {1,2,3,4,5,6,7} K=3<br>
Output: {4,5,6,7,1,2,3}<br>
Explanation: Rotate the array to right by 3 elements.

In [ ]:
def rotate(arr,k):
  k=k%len(arr)

  for _ in range(k):
    arr.insert(0,arr.pop())

arr = [1, 2, 3, 4, 5]
k1 = 2
rotate(arr ,k1)
print("Example 1 Output:", arr)


arr = [1, 2, 3, 4, 5, 6, 7]
k2 = 3
rotate(arr, k2)
print("Example 2 Output:", arr)

Example 1 Output: [4, 5, 1, 2, 3]
Example 2 Output: [5, 6, 7, 1, 2, 3, 4]

**Example 1:
Input: N = 5, array[] = {1,2,3,4,5}
Output: 3 **
*Explanation: Average is the sum of all the elements divided by number of elements.Therefore (1+2+3+4+5)/5 = 3.*

**Example 2:
Input:  N=6, array[] = {1,2,1,1,5,1}
Output: 1.8 **
*Explanation: Average is the sum of all the elements divided by number of elements.Therefore (1+2+1+1+5+1)/6 = 1.8*

In [ ]:
def average(arr,n):
  sum=0
  for i in range(len(arr)):
    sum+=arr[i]
    i+=1
  return float(sum/n)
n1=5
arr1=[1,2,3,4,5]
print(average(arr1,n1))

n2=6
arr2=[1,2,1,1,5,1]
print(average(arr2,n2))

3.0
1.8333333333333333

# **REMOVE DUPLICATE BOTH SORTED AND UNSORTED ARRAY**

Example 1:

Input: arr[1,1,2,2,2,3,3]

Output: arr[1,2,3,_,_,_,_]

Explanation: Total number of unique elements are 3, i.e[1,2,3] and Therefore return 3 after assigning [1,2,3] in the beginning of the array.

Example 2:

Input: arr[1,1,1,2,2,3,3,3,3,4,4]

Output: arr[1,2,3,4,_,_,_,_,_,_,_]

Explanation: Total number of unique elements are 4, i.e[1,2,3,4] and Therefore return 4 after assigning [1,2,3,4] in the beginning of the array. *italicised text* *italicised text*

In [ ]:
def removeDuplicate(arr):
  unique=[]
  for i in range(len(arr)-1):
    if arr[i] not in unique:
      unique.append(arr[i])
      i+=1
    else:
      i+=1
  return unique

arr1=[1,1,1,2,2,3,3,3,3,4,4]
print("unique value array is :",removeDuplicate(arr1))

arr2=[1,1,2,2,2,3,3]
print("unique value array is :",removeDuplicate(arr2))

arr3=[2,3,1,9,3,1,3,9]
print("unique value array is :",removeDuplicate(arr3))


#Using set() we can remove duplicate element from array.

unique value array is : [1, 2, 3, 4]
unique value array is : [1, 2, 3]
unique value array is : [2, 3, 1, 9]

***Above code has time complexity is O(n^2) and Space comlexity is O(n)***

**Optimal solution is given below**<br>
**Time complexity is O(nlog n)**<br>
**Space Complexity is O(1)**

In [ ]:
def removeDuplicate(arr):
  if not arr:
    return arr

  arr.sort()
  index=1
  for i in range(1,len(arr)):
    if arr[i]!= arr[i-1]:
      arr[index]=arr[i]
      index+=1
  del arr[index:]
  return arr

arr1=[1,1,1,2,2,3,3,3,3,4,4]
print("unique value array is :",removeDuplicate(arr1))

arr2=[1,1,2,2,2,3,3]
print("unique value array is :",removeDuplicate(arr2))

unique value array is : [1, 2, 3, 4]
unique value array is : [1, 2, 3]

# **Adding an element into Array**
**Problem Statement:** *Given an array of N integers, write a program to add an array element at the beginning, end, and at a specific position.*<br>
Example:
Input: N = 5, array[] = {1,2,3,4,5}<br>
insertbeginning(6)<br>
insertending(7)<br>
insertatpos(8,4)<br>
Output: 6,1,2,8,3,4,5,7<br>
Explanation: 6 is added at the beginning and 7 is added at the end and 8 is added at position 4

*Insert at Beginning*

In [ ]:
def insertbeginning(arr,ele):
  arr=[ele]+arr
  return arr
arr=[1,2,3,4,5]
ele=0
print(insertbeginning(arr,ele))

[0, 1, 2, 3, 4, 5]

Time Complexity : O(n)
Space Complexity : O(n)

*Insert at End*

In [ ]:
def insertending(arr,ele):
  arr=arr+[ele]
  return arr

arr=[1,2,3,4,5]
ele=6
print(insertending(arr,ele))

[1, 2, 3, 4, 5, 6]

Time Complexity : O(n),<br>
Space Complexity : O(n)

*Insert at postion*

In [ ]:
def insertatpos(arr,ele,pos):
  arr.append(None)
  for i in range(len(arr)-1,pos,-1):
    arr[i]=arr[i-1]
  arr[pos]=ele
  return arr

ele=9
pos=3
arr=[1,2,3,4,5,6]
print(insertatpos(arr,ele,pos))

[1, 2, 3, 9, 4, 5, 6]

Time Complexity : O(n),<br>
Space Complexity : O(1)

# **Find all repeating elements in an array**
**Problem Statement**: *Find all the repeating elements present in an array.*
Examples:

Example 1:<br>
Input:<br>
Arr[] = [1,1,2,3,4,4,5,2]<br>
Output:
 1,2,4<br>
Explanation:<br>
 1,2 and 4 are the elements which are occurring more than once.<br>

Example 2:<br>
Input:<br>
 Arr[] = [1,1,0]<br>
Output:
 1<br>
Explanation:<br>
 Only 1 is occurring more than once in the given array.

In [ ]:
def repele(arr):
  arr.sort()
  for i in range(len(arr)-1):
    if arr[i]==arr[i+1]:
      print(arr[i],end=" ")


arr=[1,1,2,3,4,4,5,5,6,7,8,8]
print(repele(arr))

1 4 5 8 None

In [ ]:
def find_repeating_elements(arr):
    arr.sort()


    for i in range(len(arr) - 1):
        if arr[i] == arr[i + 1]:
            print(arr[i], end=" ")

def main():
    arr = [1, 1, 2, 3, 4, 4, 5, 2]
    find_repeating_elements(arr)

if __name__ == "__main__":
    main()

1 2 4 None

# **Find all the non-repeating elements in an array**<br>
Problem Statement: Find all the non-repeating elements for a given array. Outputs can be in any order.<br>

Examples:

Example 1:<br>
Input:
 Nums = [1,2,-1,1,3,1]<br>
Output:
 2,-1,3<br>
Explanation:<br>
 1 is the only element in the given array which occurs thrice in the array. -1,2,3 occurs only once and hence, these are non-repeating elements of the given array.<br>

Example 2:<br>
Input:
 Nums = [1,2,3]<br>
Output:
 1,2,3<br>
Explanation:
 All elements present in the array occur once. Hence, every element is non-repeating.

In [ ]:
#USNING DICTONARY
def nonrep(nums):
  dict={}
  for i in nums:
    if i in dict:
      dict[i]+=1
    else:
      dict[i]=1
  nonrepele=[]
  for i, count in dict.items():
    if count==1:
      nonrepele.append(i)
  return nonrepele

nums1 = [1, 2, -1, 1, 3, 1]
output= nonrep(nums1)
print(output)

[2, -1, 3]

In [ ]:
# USING COUNTER
from collections import Counter

def find_non_repeating_elements(nums):

    count = Counter(nums)

    non_repeating = []

    for num in nums:
        if count[num] == 1:
            non_repeating.append(num)

    return non_repeating

nums1 = [1, 2, -1, 1, 3, 1]
output1 = find_non_repeating_elements(nums1)
print("Output for Example 1:", output1)

Output for Example 1: [2, -1, 3]

In [ ]:
def nonrep(nums):
  nums.sort()
  if nums[0] != nums[1]:
    print(nums[0],end=" ")

  for i in range(1,len(nums)-1):
    if nums[i-1] != nums[i] and nums[i] != nums[i+1]:
      print(nums[i],end=" ")

  if nums[len(nums)-2] != nums[len(nums) - 1]:
    print(nums[len(nums)-1],end=" ")

nums1 = [1, 2, -1, 1, 3, 1]
output1 = nonrep(nums1)
output1

-1 2 3


# **Find all Symmetric Pairs in the array of pairs**

***Problem Statement: Given an array of pairs, find all the symmetric pairs in the array.***

Examples:<br>

Example 1:<br>
Input: (1,2),(2,1),(3,4),(4,5),(5,4)<br>
Output: (2,1) (5,4)<br>
Explanation:<br> Since (1,2) and (2,1) are symmetric pairs and (4,5) and (5,4) are symmetric pairs.<br>

Example 2:<br>
Input: (1,5),(2,3),(4,2),(5,1),(2,4)<br>
Output: (2,4) (5,1)<br>
Explanation:<br> Since (1,5) and (2,4) are symmetric pairs and (5,1) and (4,2) are symmetric pairs.

In [ ]:
def findpair(arr,row):
  h=dict()
  for i in range(row):
    first=arr[i][0]
    second=arr[i][1]
    if second in h.keys() and h[second] == first:
      print("(",first,",",second,")")
    else:
      h[first]=second
arr=[[1,2],[2,1],[3,4],[4,5],[5,4]]
findpair(arr,len(arr))

( 2 , 1 )
( 5 , 4 )

# **Maximum Product Subarray in an Array**
***Problem Statement: Given an array that contains both negative and positive integers, find the maximum product subarray.***

Examples<br>
Example 1:<br>
Input:<br>
 Nums = [1,2,3,4,5,0]<br>
Output:
 120<br>
Explanation:<br>
 In the given array, we can see 1×2×3×4×5 gives maximum product value.


Example 2:<br>
Input:<br>
 Nums = [1,2,-3,0,-4,-5]<br>
Output:
 20<br>
Explanation:<br>
 In the given array, we can see (-4)×(-5) gives maximum product value.

In [ ]:
def maxproduct(nums):
  if not nums:
    return 0

  max_prod=[0]
  min_prod=[0]
  result=[0]
  for i in range(1, len(nums)):
      temp_max = max(nums[i], max_prod * nums[i], min_prod * nums[i])
      temp_min = min(nums[i], max_prod * nums[i], min_prod * nums[i])

      max_prod = max(temp_max, temp_min, nums[i])
      min_prod = min(temp_max, temp_min, nums[i])


      result = max(result, max_prod)

  return result
nums1 = [1, 2, 3, 4, 5, 0]
maxproduct(nums1)

TypeError: ignored