# **Sum of the Element present in array**

Example 1:
Input: N = 5, array[] = {1,2,3,4,5}
Output: 15
Explanation: Sum of all the elements is 1+2+3+4+5 = 15

Example 2:
Input:  N=6, array[] = {1,2,1,1,5,1}
Output: 11
Explanation: Sum of all the elements is 1+2+1+1+5+1 = 11

In [ ]:
sum=0
for i in range(len(arr)):
  sum+=arr[i]
  i+=1
print(sum)


arr=[1,2,3,4,5]

15

# **Count frequency of each element in an array**
Example 1:
Input: arr[] = {10,5,10,15,10,5};
Output: 10  3
	 5  2
        15  1
Explanation: 10 occurs 3 times in the array
	      5 occurs 2 times in the array
              15 occurs 1 time in the array

Example2:
Input: arr[] = {2,2,3,4,4,2};
Output: 2  3
	3  1
        4  2
Explanation: 2 occurs 3 times in the array
	     3 occurs 1 time in the array
             4 occurs 2 time in the array

In [ ]:
def freq(arr):
  dict={}
  for i in range(len(arr)):
    if arr[i] in dict:
      dict[arr[i]]+=1
      i+=1
    else:
      dict[arr[i]]=1
  return dict
n=7
arr=[1,2,1,2,3,3,3]
print(freq(arr))

{1: 2, 2: 2, 3: 3}

# **Rotate array by K elements â€“ Block Swap Algorithm**
Example 1:<br>
Input: N = 5, array[] = {1,2,3,4,5} K=2<br>
Output: {3,4,5,1,2}<br>
Explanation: Rotate the array to right by 2 elements.

Example 2:<br>
Input: N = 7, array[] = {1,2,3,4,5,6,7} K=3<br>
Output: {4,5,6,7,1,2,3}<br>
Explanation: Rotate the array to right by 3 elements.

In [ ]:
def rotate(arr,k):
  k=k%len(arr)

  for _ in range(k):
    arr.insert(0,arr.pop())

arr = [1, 2, 3, 4, 5]
k1 = 2
rotate(arr ,k1)
print("Example 1 Output:", arr)


arr = [1, 2, 3, 4, 5, 6, 7]
k2 = 3
rotate(arr, k2)
print("Example 2 Output:", arr)

Example 1 Output: [4, 5, 1, 2, 3]
Example 2 Output: [5, 6, 7, 1, 2, 3, 4]

**Example 1:
Input: N = 5, array[] = {1,2,3,4,5}
Output: 3 **
*Explanation: Average is the sum of all the elements divided by number of elements.Therefore (1+2+3+4+5)/5 = 3.*

**Example 2:
Input:  N=6, array[] = {1,2,1,1,5,1}
Output: 1.8 **
*Explanation: Average is the sum of all the elements divided by number of elements.Therefore (1+2+1+1+5+1)/6 = 1.8*

In [ ]:
def average(arr,n):
  sum=0
  for i in range(len(arr)):
    sum+=arr[i]
    i+=1
  return float(sum/n)
n1=5
arr1=[1,2,3,4,5]
print(average(arr1,n1))

n2=6
arr2=[1,2,1,1,5,1]
print(average(arr2,n2))

3.0
1.8333333333333333

# **REMOVE DUPLICATE BOTH SORTED AND UNSORTED ARRAY**

Example 1:

Input: arr[1,1,2,2,2,3,3]

Output: arr[1,2,3,_,_,_,_]

Explanation: Total number of unique elements are 3, i.e[1,2,3] and Therefore return 3 after assigning [1,2,3] in the beginning of the array.

Example 2:

Input: arr[1,1,1,2,2,3,3,3,3,4,4]

Output: arr[1,2,3,4,_,_,_,_,_,_,_]

Explanation: Total number of unique elements are 4, i.e[1,2,3,4] and Therefore return 4 after assigning [1,2,3,4] in the beginning of the array. *italicised text* *italicised text*

In [6]:
def removeDuplicate(arr):
  unique=[]
  for i in range(len(arr)-1):
    if arr[i] not in unique:
      unique.append(arr[i])
      i+=1
    else:
      i+=1
  return unique

arr1=[1,1,1,2,2,3,3,3,3,4,4]
print("unique value array is :",removeDuplicate(arr1))

arr2=[1,1,2,2,2,3,3]
print("unique value array is :",removeDuplicate(arr2))

arr3=[2,3,1,9,3,1,3,9]
print("unique value array is :",removeDuplicate(arr3))


#Using set() we can remove duplicate element from array.

unique value array is : [1, 2, 3, 4]
unique value array is : [1, 2, 3]
unique value array is : [2, 3, 1, 9]

***Above code has time complexity is O(n^2) and Space comlexity is O(n)***

**Optimal solution is given below**<br>
**Time complexity is O(nlog n)**<br>
**Space Complexity is O(1)**

In [9]:
def removeDuplicate(arr):
  if not arr:
    return arr

  arr.sort()
  index=1
  for i in range(1,len(arr)):
    if arr[i]!= arr[i-1]:
      arr[index]=arr[i]
      index+=1
  del arr[index:]
  return arr

arr1=[1,1,1,2,2,3,3,3,3,4,4]
print("unique value array is :",removeDuplicate(arr1))

arr2=[1,1,2,2,2,3,3]
print("unique value array is :",removeDuplicate(arr2))

unique value array is : [1, 2, 3, 4]
unique value array is : [1, 2, 3]